.module {
    position: absolute;
    top: 150vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    height: 50vh;
    width: 100%;
  }
  
  #bulb-contain {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
  }
  
  #bulb-contain a {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: var(--main);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 4em;
    color: black;
    cursor: pointer;
    position: relative;
  }

  #bulb-contain {
    position: relative;
  }
  
  #bulb-contain a::after {
    content: "";
    position: absolute;
    z-index: -20;
    width: 0;
    height: 0;
    border-style: solid;
    /* Get the widht of the device, calculate it as 100% of the screen*/
    border-width: 100vh 95vw 100vh 0;
    border-color: transparent var(--main) transparent transparent;
    right: -92.8vw;
    top: -1500;
    visibility: hidden;
    pointer-events: none;
    
  }

  #bulb-contain a.active::after {
    border-color: transparent var(--bulb) transparent transparent;
    visibility: visible;
    z-index: -30;
  }
  

  #bulb-contain a.active{
    background-color: var(--bulb);
  }

  .gender{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: var(--main);
    left: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5em;
    background:none;
  }

  #male{
    visibility: visible;
    color: white;
  }

  #female{
    visibility: hidden;
    color: black;
  }

  .two-graph {
    position: relative;
  }
  
  .graph1,
  .graph2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .graph1 {
    background-color: var(--main);
    z-index: -20;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .graph2 {
    background-color: var(--secondary);
    z-index: -30;
    visibility: hidden;
    display: flex;
    align-items: center;
  }
  
  .sliders {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 25px;
  }
  