/* Import roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
:root{
    /* Create a variable named main and a variable named secondary, and a variable named active */
    --main: white;
    --secondary: black;
    --active: lightblue;
}
body{
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    background-color: var(--secondary);
}

.banner{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main);
    width: 100%;
    padding: 0px;
    border: 0px;
    margin: 0px;
    align-items: center;
}

figure{
    width: 100%;
    height: 100%;
}

#logo{
    width: 75px;
    height: 75px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0px;
    border: 0px;
    margin: 0px;
    margin-right: 100px;
    align-items: center;
}

.navbar li{
    list-style: none;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.navbar li a{
    text-decoration: none;
    color: var(--secondary);
    font-size: 20px;
    font-weight: 500;
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-decoration: none;
    height: fit-content;
    width: fit-content;
}

.menuoptions{
    height: 75px;
    border: 0px;
    padding: 0px;
    margin: 15px;
    border-radius: 10px;
    transition: .5s ease;
}

.navbar a figure{
    height: fit-content;
    width: fit-content;
    padding: 0px;
    border: 0px;
    transition: .5s ease;
    border-radius: 25px;
}

a figure:hover{
    background-color: var(--secondary);
}

a figure:hover .menuoptions{
    filter: invert(100%);
}

a figure:active{
    background-color: var(--active);
}

a figure:active .menuoptions{
    filter: invert(0%);
}