.wheels {
    position: fixed;
    top: 250px;
    background-color: var(--main);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: -11;
  }

.wheels .container{
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    align-items: center;
  }

  .wheels .container .indications{
    height: 100px;
    width: 100px;
  }

  .wheels .container #vertical{
    rotate: -90deg;
  }

.containerind{
    padding: 0;
    margin: 0;
    border: 0;
    width: fit-content;
    height: fit-content;
}

.menu{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.menu .toggle{
    position:absolute;
    width: 75px;
    height: 75px;
    background-color: var(--secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main);
    font-size: 3em;
    font-weight: bolder;
    cursor: pointer;
    transition: .5s;
}

.menu .toggle.active{
    transform: rotate(315deg);
    box-shadow: 0 0 0 68px var(--secondary);
    background-color: var(--main);
    color: var(--secondary);
}

.menu li{
  position: absolute;
  list-style: none;
  left: 10px;
  transform: rotate(calc(360deg/5*var(--i))) translateX(40px);
  transform-origin: 140px;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: .5s;
  justify-content: center;
  align-items: center;
  color: white;
}

.menu.active li{
  visibility: visible;
  opacity: 1;
  color: white;
}

.menu li a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  font-size: 3em;
  color: black;
  transform: rotate(calc(360deg/-5*var(--i)));
  background-color: white;
  border-radius: 50%;
}

.menu.active li.active{
  transform: rotate(calc(360deg/5*var(--i))) translateX(12px);
}

.menu.active li.active a{
  transition: .5s;
  background: none;
}

.indicator{
  position: absolute;
  left: calc(50% + 2.5px);
  transform-origin: left;
  width: 100px;
  height: 0px;
  background-color: var(--active);
  pointer-events: none;
  transition: .5s;
}

.indicator::before{
  content: "";
  position: absolute;
  top : -27.5px;
  left: 72px;
  width: 55px;
  height: 55px;
  background-color: var(--active);
  box-shadow: 0 0 0 5px var(--main);
  border-radius: 50%;
  transition: .5s;
  opacity: 0;
}

.menu.active .indicator::before{
  opacity: 1;
  top: -27.5px;
  left: -27.5px;
  background: var(--active);
  box-shadow: 0 0 0 5px var(--main);
  /* Make it blur */
  filter: blur(5px);
  z-index: -3;
}

.menu li:nth-child(2).active ~ .indicator{
  transform: rotate(0deg) translateX(-100px);
}

.menu li:nth-child(3).active ~ .indicator{
  transform: rotate(72deg) translateX(-100px);
}

.menu li:nth-child(4).active ~ .indicator{
  transform: rotate(144deg) translateX(-100px);
}

.menu li:nth-child(5).active ~ .indicator{
  transform: rotate(216deg) translateX(-100px);
}

.menu li:nth-child(6).active ~ .indicator{
  transform: rotate(288deg) translateX(-100px);
}